*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Courier, sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1;
  margin-top: 50px;
}

.form-container-x {
  display: none;
  z-index: 999;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(128, 128, 128, 0.7);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(128, 128, 128, 0.7);
  padding: 15px;
  border-radius: 4px;
}

input,
textarea {
  width: 320px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 4px;
}

textarea {
  height: 150px;
  resize: none;
}

.notes-container {
  display: flex;
  gap: 20px;
  padding: 25px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.note {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 400px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.note-title {
  font-size: 22px;
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

.note-text {
  font-size: 16px;
  padding: 5px 0;
}

.tags {
  font-size: 12px;
  font-style: italic;
  padding: 10px 0;
}

button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  background: #1e90ff;
}

button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

button:active {
  transform: translate(0em, 0.2em);
}

.buttons {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .form-container {
    position: fixed;
  }
}
